@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rampart+One&display=swap');
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #f7fff7;
    font-family: 'Rampart One',cursive;
}
h1{
    font-size: 10em;
    background: url(img.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}